{% extends '_base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    .flex {
        display: flex;
    }
    #table_db_wrapper {
        width: max-content;
        margin: 0 auto;
    }
    .align-items-center {
        align-items: center;
    }
    .justify-content-center {
        justify-content: center;
    }
    .font-weight-light {
        font-weight: 300;
    }
    .font-weight-bold {
        font-weight: 700;
    }
    .font-weight-lighter {
        font-weight: 200;
    }
    .font-weight-normal {
        font-weight: 400;
    }
    .font-color-light-grey {
        color: #a9a9a9;
    }
    .font-color-dark-grey {
        color: #696969;
    }
</style>
<div class= "row" style="height: 70vh">
    <div class="col-sm flex align-items-center justify-content-center font-weight-light" style="font-size: 0.8rem">
        <table id="table_db" class="table table-striped table-hover table-bordered compact" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col" class="font-weight-bold" style="font-size: 0.8rem">Task ID</th>
                    <th scope="col" class="font-weight-bold" style="font-size: 0.8rem">Status</th>
                    <th scope="col" class="font-weight-bold" style="font-size: 0.8rem">Result</th>
                </tr>
            </thead>
            <tbody >
                {% for t in tasks %}
                <tr>
                    <td class="font-weight-normal font-color-dark-grey" style="font-size: 0.8rem"> {{ t.task_id }}</td>
                    <td class="font-weight-normal font-color-dark-grey" style="font-size: 0.8rem"> {{ t.status }}</td>
                    <td class="font-weight-normal font-color-dark-grey" style="font-size: 0.8rem"> {{ t.result }} </td>
                </tr>
            </tbody>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
 
{% block js %} <-- page specific scripts
 
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
 
<script>
    $(document).ready(function () {
    $('#table_db').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": false,
        "ordering": true,
        "responsive": true,
        "columnDefs": [
            {"width": "50px", "targets": 0},
            {"width": "50px", "targets": 1},
        ],
    }
    );
} );
</script>
{% endblock js %}